.DashBoardBtn:hover{
    background-color:gray;
    color: white;
}

.FormDiv{
    margin: auto;
    padding: 10px;
    width: 50%;
    margin-top: 100px;
}


@media (width <= 786px) {
    .FormDiv{
        margin: auto;
        padding: 10px;
        width: 100%;
        margin-top: 50px;
    }
}